<div class="col">
  <a class="card-ref" (click)="navegate(CardIdProperties)">
    <div class="card shadow-sm">
      <img src="{{ cardUrl }}" class="card-img-top" alt="casa" />
      <div class="card-body card-body-container">
        <h5 class="card-title">
          {{
            cardPrice.toLocaleString("es-CO", {
              style: "currency",
              currency: "COP",
              minimumFractionDigits: 0,
              maximumFractionDigits: 2
            })
          }}
        </h5>
        <p class="info-card-place">{{ cardPais }}, {{ cardCiudad }}</p>
        <p class="info-card">
          Area: {{ cardMetros }} m² • Baños: {{ cardBano }} • Estrato:
          {{ cardEstrato }}
        </p>
      </div>
    </div>
  </a>
</div>
