@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap");
.filter-label{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #5049B7;
}
.btn-search{
  color: white;
  background-color: #5049B7;
}
.btn-search:hover{
  color: #5049B7;
  background-color: white;
  border-color: #5049B7;
}

.container-filters{
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 15px;
  background-color: #5049b70a;
}
