<div class="body-footer">
  <section class="mt-5" id="footer">
    <div class="container">
      <div class="row text-center text-xs-center text-sm-left text-md-left">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Acerca de Nosotros</h5>
          <ul class="list-unstyled quick-links">
            <li>
              <a href="#"
                ><i class="fa fa-angle-double-right"></i>Contactanos</a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-angle-double-right"></i>Preguntas frecuentes</a
              >
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Legales</h5>
          <ul class="list-unstyled quick-links">
            <li>
              <a href="#"
                ><i class="fa fa-angle-double-right"></i>Aviso Legal</a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-angle-double-right"></i>Terminos y
                condiciones</a
              >
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Recursos</h5>
          <ul class="list-unstyled quick-links">
            <li>
              <a href="#"><i class="fa fa-angle-double-right"></i>API</a>
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-angle-double-right"></i>Validaciones</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
          <ul class="list-unstyled list-inline social text-center">
            <li class="list-inline-item">
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#"><i class="fa fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div
          class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white"
        >
          <p>
            <u><a href="#">CamarossHousing</a></u>
            Pagina web de prueba para la practica con Angular 17
          </p>
          <p class="h6">&copy; Todos los derechos reservados. DevTeam</p>
        </div>
      </div>
    </div>
  </section>
</div>
